@page
@model FrogMusicFest.DetailsModel

@{
    ViewData["Title"] = "Detalji";
}

<h1>Detalji</h1>

<div>
    <h4>Izvodjač</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Izvodjac.Naziv)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Izvodjac.Naziv)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Izvodjac.VrstaMuzike)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Izvodjac.VrstaMuzike)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Izvodjac.DanNastupa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Izvodjac.DanNastupa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Izvodjac.VremeNastupa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Izvodjac.VremeNastupa)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Izvodjac.Id">Izmeni</a> |
    <a asp-page="./Index">Nazad na listu Izvodjača</a>
</div>
