@page
@model FrogMusicFest.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Izvodjac[0].Naziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Izvodjac[0].VrstaMuzike)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Izvodjac[0].DanNastupa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Izvodjac[0].VremeNastupa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Izvodjac) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VrstaMuzike)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DanNastupa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VremeNastupa)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
